################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LibrarySample/LibrarySample/obj/Debug
/LibrarySample/.vs/LibrarySample/v16
/LibrarySample/packages
/LibrarySample/Sample.Tests/obj/Debug
/LibrarySample/LibrarySample/obj/Release
/LibrarySample/Sample.Tests/obj/Release
